.xcw-layout {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.xcw-grid-area {
  min-width: 330px;
}

@media (max-width: 900px) {
  .xcw-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
